@model List<Imob.Models.Locatario> 
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imob</title>
    <link rel="stylesheet" href="~/css/listarLocatarioStyle.css" />
    <script src="https://kit.fontawesome.com/0aa0d458c6.js" crossorigin="anonymous"></script>
</head>
<body>


    <div id="page">
        <aside>
            <header>
                <i class="far fa-address-card"></i>
                <h1>Lista de Locatários</h1>
                <a asp-action="InicialMenu" asp-controller="Home"><i class="fas fa-arrow-left"></i></a>
            </header>
            <footer>
                <strong>Imob</strong>
                <span>Imóveis</span>
            </footer>
        </aside>

        <table class="tabelaClasse">
            <div class="topoDaLista">
                <h4 class="h4add">Adicionar</h4>
                <a asp-action="CadastrarLocatario" asp-controller="Locatario" class="btn-cad"><i class="fas fa-plus"></i></a>
                <input class="inputDoSearch" type="text" placeholder="Digite o nome do locatário para busca!" />
                <a class="btn-buscar"><i class="fas fa-search-plus"></i></a>
            </div>
            <thead>
                <tr>
                    <th class="th_classeID">#</th>
                    <th class="th_classeNOMEloc">Nome</th>
                    <th class="th_classe">CPF</th>
                    <th class="th_classeEMAIL">Email</th>
                    <th class="th_classetel">Telefone</th>
                    <th class="th_classeCIDADE">Cidade</th>
                    <th class="th_classeUU">UF</th>
                    <th class="th_classeRR">Renda Disponível</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (Imob.Models.Locatario locatarioCadastrado in Model)
                {

                <tr class="tr_classe">
                    <td class="td_classeID">@locatarioCadastrado.Id</td>
                    <td class="td_classe">@locatarioCadastrado.Nome</td>
                    <td class="td_classe">@locatarioCadastrado.Cpf</td>
                    <td class="td_classeEMAIL">@locatarioCadastrado.Email</td>
                    <td class="td_classe">@locatarioCadastrado.Telefone</td>
                    <td class="td_classe">@locatarioCadastrado.Cidade</td>
                    <td class="td_classe">@locatarioCadastrado.UF</td>
                    <td class="td_classe">@locatarioCadastrado.RendaDisponivel</td>
                    <td>
                        <a asp-action="Remover" asp-controller="Locatario" asp-route-id="@locatarioCadastrado.Id" class="btn-remover">
                            EXCLUIR
                        </a>
                    </td>
                    <td>
                        <a asp-action="EditarLocatario" asp-controller="Locatario" asp-route-id="@locatarioCadastrado.Id" class="btn-alterar">
                            EDITAR
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
