@model IEnumerable<Imob.Models.UsuarioLogado>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imob</title>
    <link rel="stylesheet" href="~/css/listarLocatarioStyle.css" />
    <script src="https://kit.fontawesome.com/0aa0d458c6.js" crossorigin="anonymous"></script>
</head>
<body>


    <div id="page">
        <aside>
            <header>
                <i class="far fa-address-card"></i>
                <h1>Lista de Locatários</h1>
                <a asp-action="InicialMenu" asp-controller="Home"><i class="fas fa-arrow-left"></i></a>
            </header>
            <footer>
                <strong>Imob</strong>
                <span>Imóveis</span>
            </footer>
        </aside>

        <table class="tabelaClasse">
            <div class="topoDaLista">
                <h4 class="h4add">Adicionar</h4>
                <a asp-action="CadastrarUsuario" asp-controller="Usuario" class="btn-cad"><i class="fas fa-plus"></i></a>
                <input class="inputDoSearch" type="text" placeholder="Digite o nome do usuário para busca!" />
                <a class="btn-buscar"><i class="fas fa-search-plus"></i></a>
            </div>
            <thead>
                <tr>
                    <th class="th_classeEMAIL">@Html.DisplayNameFor(model => model.Email)</th>
                    <th class="th_classe">@Html.DisplayNameFor(model => model.Senha)</th>
                    <th class="th_classe">@Html.DisplayNameFor(model => model.CriadoEm)</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                <tr class="tr_classe">
                    <td class="td_classeEMAIL">@Html.DisplayFor(modelItem => item.Email)</td>
                    <td class="td_classe">@Html.DisplayFor(modelItem => item.Senha)</td>
                    <td class="td_classe">@Html.DisplayFor(modelItem => item.CriadoEm)</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn-remover">EXCLUIR</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn-alterar">EDITAR</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn-alterar">Detalhar</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
