@model List<Imob.Models.Corretor>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imob</title>
    <link rel="stylesheet" href="~/css/listarLocatarioStyle.css" />

    <script src="https://kit.fontawesome.com/0aa0d458c6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="page">
        <aside>
            <header>
                <i class="fas fa-business-time"></i>
                <h1>Lista de Corretores</h1>
                <a asp-action="InicialMenu" asp-controller="Home"><i class="fas fa-arrow-left"></i></a>
            </header>

            <footer>
                <strong>Imob</strong>
                <span>Imóveis</span>
            </footer>
        </aside>
        <table class="tabelaClasse">
            <div class="topoDaLista">
                <h4 class="h4add">Adicionar</h4>
                <a asp-action="CadastrarCorretor" asp-controller="Corretor" class="btn-cad"><i class="fas fa-plus"></i></a>
                <input class="inputDoSearch" id="inputDoSearch" type="text" placeholder="Digite o nome do corretor para busca!" />
                <a class="btn-buscar" id="btn-buscar"><i class="fas fa-search-plus"></i></a>
            </div>
            <thead>
                <tr>
                    <th class="th_classeID">#</th>
                    <th class="th_classeNome">Nome</th>
                    <th class="th_classe">CPF</th>
                    <th class="th_classeEMAIL">Email</th>
                    <th class="th_classeTEL">Telefone</th>
                    <th class="th_classeciti">Cidade</th>
                    <th class="th_classeUF">UF</th>
                    <th class="th_classeCO">COEFI</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="bodyTable">
                @foreach (Imob.Models.Corretor corretorCadastrado in Model)
                {
                    <tr class="tr_classe">

                        <td class="td_classeID">@corretorCadastrado.Id</td>
                        <td class="td_classe">@corretorCadastrado.Nome</td>
                        <td class="td_classe">@corretorCadastrado.Cpf</td>
                        <td class="td_classeEMAIL">@corretorCadastrado.Email</td>
                        <td class="td_classeTEL">@corretorCadastrado.Telefone</td>
                        <td class="td_classe">@corretorCadastrado.Cidade</td>
                        <td class="td_classe">@corretorCadastrado.UF</td>
                        <td class="td_classe">@corretorCadastrado.Cofeci</td>
                        <td>
                            <a asp-action="Remover" asp-controller="Corretor" asp-route-id="@corretorCadastrado.Id" class="btn-remover">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-action="EditarCorretor" asp-controller="Corretor" asp-route-id="@corretorCadastrado.Id" class="btn-alterar">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        var tableBody = document.getElementById("bodyTable");
        var btnBuscar = document.getElementById("btn-buscar");
        var InputBusca = document.getElementById("inputDoSearch");
        var corretoresBuscados = [];

        var url = "http://localhost:51196/API/CorretorAPI/filtrar/";

        btnBuscar.addEventListener("click", () => {
            url = url + InputBusca.value;
            buscarCorretores();
            console.log(corretoresBuscados);      
         });

        const buscarCorretores = () => {
            fetch(url, { method: "GET" })
                .then(response => response.json())
                .then(json => {
                    for (let x = 0; x < json.length; x++) {
                        corretoresBuscados.push(json[x]);
                    }
                    povoaTemplate(corretoresBuscados);
                })
                .catch(error => console.log(error));
        }

        function povoaTemplate (corretores){
            var templateRow = [];
            for (let i = 0; i < corretores.length; i++) {
                templateRow.push(
                    `<tr class="tr_classe">

                            <td class="td_classeID">${corretores[i].id}</td>
                            <td class="td_classe">${corretores[i].nome}</td>
                            <td class="td_classe">${corretores[i].cpf}</td>
                            <td class="td_classeEMAIL">${corretores[i].email}</td>
                            <td class="td_classeTEL">${corretores[i].telefone}</td>
                            <td class="td_classe">${corretores[i].cidade}</td>
                            <td class="td_classe">${corretores[i].uf}</td>
                            <td class="td_classe">${corretores[i].cofeci}</td>
                            
                        </tr>`
                );
            }
            console.log(templateRow);
            tableBody.innerHTML = "";
            tableBody.innerHTML = templateRow;
        }
    </script>
</body>
</html>
