@model List<Imob.Models.Corretor>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imob</title>
    <link rel="stylesheet" href="~/css/listarLocatarioStyle.css" />

    <script src="https://kit.fontawesome.com/0aa0d458c6.js" crossorigin="anonymous"></script>
</head>
<body>


    <div id="page">
        <aside>
            <header>
                <i class="far fa-address-card"></i>
                <h1>Lista de Corretores</h1>
                <a href="#"><i class="fas fa-arrow-left"></i></a>
            </header>

            <footer>
                <strong>Imob</strong>
                <span>Imóveis</span>
            </footer>
        </aside>


        <table class="tabelaClasse">
            <div class="topoDaLista">
                <h4 class="h4add">Adicionar</h4>
                <a asp-action="" asp-controller="" class="btn-cad"><i class="fas fa-plus"></i></a>
                <input class="inputDoSearch" type="text" placeholder="Digite o nome do corretor para busca!" />
                <a class="btn-buscar"><i class="fas fa-search-plus"></i></a>
            </div>
            <thead>
                <tr>
                    <th class="th_classeID">#</th>
                    <th class="th_classeNome">Nome</th>
                    <th class="th_classe">CPF</th>
                    <th class="th_classeEMAIL">Email</th>
                    <th class="th_classeTEL">Telefone</th>
                    <th class="th_classeciti">Cidade</th>
                    <th class="th_classeUF">UF</th>
                    <th class="th_classeCO">COEFI</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (Imob.Models.Corretor corretorCadastrado in Model)
                { 
                    <tr class="tr_classe">

                        <td class="td_classeID">@corretorCadastrado.Id</td>
                        <td class="td_classe">@corretorCadastrado.Nome</td>
                        <td class="td_classe">@corretorCadastrado.Cpf</td>
                        <td class="td_classeEMAIL">@corretorCadastrado.Email</td>
                        <td class="td_classeTEL">@corretorCadastrado.Telefone</td>
                        <td class="td_classe">@corretorCadastrado.Cidade</td>
                        <td class="td_classe">@corretorCadastrado.UF</td>
                        <td class="td_classe">@corretorCadastrado.Cofeci</td>
                        <td>
                            <a asp-action="Remover" asp-controller="Corretor" class="btn-remover">
                                EXCLUIR
                            </a>
                        </td>
                        <td>
                            <a asp-action="Atualizar" asp-controller="Corretor" asp-route-id="" class="btn-alterar">
                                EDITAR
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>




    <ul class="squares">
    </ul>
    <script src="~/js/login.js"></script>
</body>
</html>
